
.board {
  width: 524.8px;
  height: 524.8px;
  background-color: #2c5364;
  grid-area: 2 / 2 / 3 / 3;
  margin: 0 auto;

  animation: boardFadeIn 1s .7s both 1 ease-in-out;
}

@keyframes boardFadeIn {
  100% {
    box-shadow: 5px 5px rgba(232, 235, 239, 0.4),
    10px 10px rgba(232, 235, 239, 0.3),
    15px 15px rgba(125, 135, 150, 0.2),
    20px 20px rgba(232, 235, 239, 0.1),
    25px 25px rgba(125, 135, 150, 0.05);
  }

}


.single__square {
  width: 65.6px;
  height: 65.6px;
  float: left;
}


@for $iterator from 1 to 65 {
  .single__square:nth-of-type(#{$iterator}) {
    opacity: 0;
    animation: fadeIn .5s both 1 ease-in-out;
    transform: translateX(Calc(1px * #{$iterator}));
    animation-delay: $iterator * 0.01s
  }
}


@keyframes fadeIn {
  100% {

    transform: none;
    opacity: 1;
  }
}

.single__square.single__square--dark {
  background-color: rgb(125, 135, 150);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}

.single__square.single__square--light {
  background-color: rgb(232, 235, 239);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}

.single__square.single__square--light.active {
  background-color: rgba(130,151,105, .55)
}

.single__square.single__square--dark.active {
  background-color: rgba(100,111,64, .1)
}
.single__square.single__square--dark.activeToMove,
.single__square.single__square--light.activeToMove{
  cursor: pointer;
}
.single__square.single__square--light.activeToMove:after {
  background-color: rgb(129,150,105);
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.single__square.single__square--dark.activeToMove:after {
  background-color: rgb(100,111,65);
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}