
.board {
  width: 524.8px;
  height: 524.8px;
  background-color: black;
  grid-area: 2 / 2 / 3 / 3;
  margin: 0 auto;

animation: boardFadeIn 1s .7s both 1 ease-in-out
}
@keyframes boardFadeIn {
  100%{
    box-shadow: 5px 5px rgba(232, 235, 239, 0.4),
    10px 10px rgba(232, 235, 239, 0.3),
    15px 15px rgba(125, 135, 150, 0.2),
    20px 20px rgba(232, 235, 239, 0.1),
    25px 25px rgba(125, 135, 150, 0.05);
  }

}


.single__square {
  width: 65.6px;
  height: 65.6px;
  float: left;
}


@for $iterator from 1 to 65 {
  .single__square:nth-of-type(#{$iterator}) {
    opacity: 0;
    animation: fadeIn .5s both 1 ease-in-out;
    transform: translateX(Calc(1px * #{$iterator}));
    animation-delay: $iterator * 0.01s
  }
}


@keyframes fadeIn {
  100% {

    transform: none;
    opacity: 1;
  }
}

.single__square.single__square--dark {
  background-color: rgb(125, 135, 150);
}

.single__square.single__square--light {
  background-color: rgb(232, 235, 239);
}